@charset "utf-8";
/* CSS Document */
.select {
    position: relative;
    display: inline-block;
    width: 100%;
}    .select select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 14px 30px;
        outline: 0;
        border: 2px solid #000000;
        border-radius: 16px;
        background: #52EE62;
        color: #020202;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #725858;
            background: #FAFF85;
        }
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 20px;
    right: 24px;
    width: 0;
    height: 0;
    border: solid #000000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #37FF4F;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #CCCCCC;
}
