@charset "utf-8";
/* CSS Document */
html{
	width: 100%;
	height: 100%;
	
}
body{
	width: 100%;
	height: 100%;
	margin: 0;
	background-image: url(../img/explosion.jpg);
	background-size: 100% 100%;
	position: fixed;
	
}
#con{
	overflow-y:auto; 
	height: 90%;
	width: 85%;
	margin: auto;
}
.eli {
  background: #c86fde;
  background-image: -webkit-linear-gradient(top, #c86fde, #ff0099);
  background-image: -moz-linear-gradient(top, #c86fde, #ff0099);
  background-image: -ms-linear-gradient(top, #c86fde, #ff0099);
  background-image: -o-linear-gradient(top, #c86fde, #ff0099);
  background-image: linear-gradient(to bottom, #c86fde, #ff0099);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.eli:hover {
  background: #3cfab4;
  background-image: -webkit-linear-gradient(top, #3cfab4, #84d934);
  background-image: -moz-linear-gradient(top, #3cfab4, #84d934);
  background-image: -ms-linear-gradient(top, #3cfab4, #84d934);
  background-image: -o-linear-gradient(top, #3cfab4, #84d934);
  background-image: linear-gradient(to bottom, #3cfab4, #84d934);
  text-decoration: none;
}

.edi {
  background: #6fdade;
  background-image: -webkit-linear-gradient(top, #6fdade, #00ff00);
  background-image: -moz-linear-gradient(top, #6fdade, #00ff00);
  background-image: -ms-linear-gradient(top, #6fdade, #00ff00);
  background-image: -o-linear-gradient(top, #6fdade, #00ff00);
  background-image: linear-gradient(to bottom, #6fdade, #00ff00);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.edi:hover {
  background: #3cd4fa;
  background-image: -webkit-linear-gradient(top, #3cd4fa, #cb34d9);
  background-image: -moz-linear-gradient(top, #3cd4fa, #cb34d9);
  background-image: -ms-linear-gradient(top, #3cd4fa, #cb34d9);
  background-image: -o-linear-gradient(top, #3cd4fa, #cb34d9);
  background-image: linear-gradient(to bottom, #3cd4fa, #cb34d9);
  text-decoration: none;
}

.ver {
  background: #34d97b;
  background-image: -webkit-linear-gradient(top, #34d97b, #66ff00);
  background-image: -moz-linear-gradient(top, #34d97b, #66ff00);
  background-image: -ms-linear-gradient(top, #34d97b, #66ff00);
  background-image: -o-linear-gradient(top, #34d97b, #66ff00);
  background-image: linear-gradient(to bottom, #34d97b, #66ff00);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.ver:hover {
  background: #fc3c3c;
  background-image: -webkit-linear-gradient(top, #fc3c3c, #c334d9);
  background-image: -moz-linear-gradient(top, #fc3c3c, #c334d9);
  background-image: -ms-linear-gradient(top, #fc3c3c, #c334d9);
  background-image: -o-linear-gradient(top, #fc3c3c, #c334d9);
  background-image: linear-gradient(to bottom, #fc3c3c, #c334d9);
  text-decoration: none;
}





table {
    border-collapse: collapse;
	 border-spacing: 0;
    width: 100%;
	
}

th, td {
    text-align: left;
    padding: 8px;
	border: 1px solid #000000;
	text-align: center;
}
tr{
	background-color:rgba(255,255,255,1.00);
}
tr:nth-child(even){background-color: aliceblue}


th {
    background-color: rgba(10,255,0,1.00);
    color: #000000;
	
}

tr:hover {background-color:#00FFE3;}
